@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EEE;
    font-family: 'Poppins', sans-serif;
}
.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.container .cards {
    position: relative;
    width: 300px;
    height: 400px;
    background: #6c4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .cards:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,.1);
    z-index: 20;
    pointer-events: none;
}
.container .cards .imgBx {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .cards .imgBx img {
    position: relative;
    width: 300px;
    height: 400px;
    z-index: 0;
}
.container .cards .imgBx .center {
    position: absolute;
    top: 50%;
    margin: 0;
    width: 400px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.container .cards .overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #EEE;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.container .cards .overlay:hover {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    opacity: 0.9;
}
.container .cards .overlay:before{
    content: 'Read';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: 0.5s;
    color: #000;
}
.container .cards .overlay:hover:before {
    display: none;
    transition-delay: 0s;
}
.container .cards .content {
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    color: #000;
    transition: 0s;
}
.container .cards .overlay:hover ~ .content {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}
.container .cards .content h2 {
    margin: 0;
    padding: 0;
}